/* Общий контейнер */
.desktop-3 {
  position: relative;
  width: 1440px;
  height: 1492px;
  background: #FFFFFF;
}

/* Фоны */
.backgrounds {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: absolute;
  width: 1440px;
  height: 824px;
  left: calc(50% - 1440px/2);
  top: calc(50% - 824px/2 - 191px);
}

/* Голубой фон */
.light-blue-background {
  width: 588.72px;
  height: 509.59px;
  background: #00C5B9;
  filter: blur(200px);
  transform: matrix(-0.97, 0.26, -0.13, -0.99, 0, 0);
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Синий фон */
.blue-background {
  width: 156.76px;
  height: 347.29px;
  background: #4ACFFF;
  filter: blur(200px);
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Розовый фон */
.pink-background {
  width: 339.07px;
  height: 529.81px;
  background: #FF90EA;
  filter: blur(200px);
  flex: none;
  order: 2;
  flex-grow: 0;
}

/* Желтый фон */
.yellow-background {
  width: 436.23px;
  height: 339.05px;
  background: #FFE198;
  filter: blur(200px);
  transform: matrix(0.98, -0.18, 0.09, 1, 0, 0);
  flex: none;
  order: 3;
  flex-grow: 0;
}

/* Ссылки */
.links-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 240px;
  position: absolute;
  width: 894px;
  height: 29px;
  left: calc(50% - 894px/2);
  top: 995px;
}

/* Frame 4 */
.frame-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 3px;
  width: 236px;
  height: 29px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Полезные ссылки */
.useful-links {
  width: 233px;
  height: 29px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Arrow 1 */
.arrow-1 {
  box-sizing: border-box;
  width: 21px;
  height: 0px;
  border: 2px solid #000000;
  transform: rotate(90deg);
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Frame 5 */
.frame-5 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 3px;
  width: 197px;
  height: 29px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Источники */
.sources {
  width: 142px;
  height: 29px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-decoration-line: underline;
  color: #000000;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Группа для ссылок */
.links-group {
  position: absolute;
  width: 1234px;
  height: 317px;
  left: calc(50% - 1234px/2);
  top: 1078px;
}

/* Окно полезные ссылки */
.useful-links-window {
  position: absolute;
  width: 584px;
  height: 317px;
  left: 103px;
  top: 1078px;
  background: rgba(74, 207, 255, 0.05);
  box-shadow: 0px 4px 10px 2px rgba(58, 58, 58, 0.2);
  border-radius: 50px;
}

/* Окно источники */
.sources-window {
  position: absolute;
  width: 584px;
  height: 317px;
  left: 753px;
  top: 1078px;
  background: rgba(74, 207, 255, 0.05);
  box-shadow: 0px 4px 10px 2px rgba(58, 58, 58, 0.2);
  border-radius: 50px;
}

/* Кнопки */
.buttons-container {
  display: flex;
  flex-direction: row; /* Изменено на row */
  align-items: center;
  gap: 20px; /* Расстояние между кнопками */
  position: absolute;
  width: auto; /* Изменено на auto */
  height: auto; /* Изменено на auto */
  left: calc(50% - 742px/2);
  top: 797px;
}

/* Кнопка */
.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 43px;
  gap: 10px;
  width: auto; /* Изменено на auto */
  height: 60px;
  border: 2px dashed #3A3A3A;
  border-radius: 40px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Текст кнопки */
.button-text {
  width: auto;
  height: 29px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #3A3A3A;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Кнопка 1 */
.button-1 {
  position: relative; /* Изменено на relative */
  left: auto; /* Изменено на auto */
  top: auto; /* Изменено на auto */
}

/* Кнопка 2 */
.button-2 {
  position: relative; /* Изменено на relative */
  left: auto; /* Изменено на auto */
  top: auto; /* Изменено на auto */
}

/* Кнопка 3 */
.button-3 {
  position: relative; /* Изменено на relative */
  left: auto; /* Изменено на auto */
  top: auto; /* Изменено на auto */
  background: #FFE198;
  border: 2px solid #3A3A3A;
}

/* Окно отображения */
.display-window {
  position: absolute;
  width: 1120px;
  height: 396px;
  left: calc(50% - 1120px/2);
  top: 380px;
  background: linear-gradient(0deg, rgba(211, 211, 211, 0.05), rgba(211, 211, 211, 0.05)), #FFFFFF;
  border-radius: 20px;
}

/* Текст подсказки */
.hint-text {
  position: absolute;
  width: 768px;
  height: 29px;
  left: 40px;
  top: 29px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #A2A2A2;
}

/* Шаги */
.steps-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 19px;
  position: absolute;
  width: 983px;
  height: 75px;
  left: calc(50% - 983px/2 - 0.5px);
  top: 210px;
}

/* Шаг 1 */
.step-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 315px;
  height: 75px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Шаг 2 */
.step-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 315px;
  height: 75px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Шаг 3 */
.step-3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 315px;
  height: 75px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

/* Frame 2 */
.step-frame {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  gap: 10px;
  width: 75px;
  height: 75px;
  border: 3px solid #3A3A3A;
  border-radius: 37.5px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Номер шага */
.step-number {
  width: 20px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #3A3A3A;
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Текст шага */
.step-text {
  width: 239px;
  height: 58px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #3A3A3A;
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Заголовок */
.check-cosmetics {
  position: relative;
  width: 1120px;
  height: 63px;
  left: calc(50% - 1120px/2);
  top: 52px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  text-align: center;
  color: #3A3A3A;
  margin-bottom: 60px;
}

/* Форма редактирования изображения */
.img-upload__overlay {
  position: fixed; /* фиксированное положение */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* убеждаемся, что форма находится поверх остального содержимого */
}

.img-upload__wrapper {
  background: #fff; /* Белый фон для контейнера формы */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 600px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Расстояние между элементами */
}

/* Изменение размера изображения */
.img-upload__scale {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px; /* Расстояние между кнопками масштабирования */
}

/* Предварительный просмотр изображения */
.img-upload__preview {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #ccc;
}

.img-upload__preview-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.img-upload__preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Кнопка для закрытия формы редактирования изображения и отправки на проверку*/
.button-text {
  cursor: pointer;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.button-text:hover {
  background-color: #0056b3;
}

/* Скрытый элемент */
.hidden {
  display: none;
}

/* Черный цвет текста */
.hint-text-black {
  color: #000000;
}

/* Стили для кнопок в img-upload__start */
.img-upload__start {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* расстояние между кнопками */
  width: 100%; /* ширина контейнера */
  max-width: 400px; /*максимальная ширина контейнера */
  margin: 0 auto; /* центрирование контейнера */
}

.img-upload__start .img-upload__label {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 43px;
  gap: 10px;
  width: 100%; /* ширина кнопки относительно контейнера */
  max-width: 300px; /* максимальная ширина кнопки */
  height: 60px;
  border: 2px dashed #3A3A3A;
  border-radius: 40px;
  background: #FFE198;
  color: #3A3A3A;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  cursor: pointer;
}

.img-upload__start .img-upload__label:hover {
  background-color: #e0cc98;
}

/* скрыть стандартную кнопку загрузки файла */
.img-upload__input {
  display: none;
}

/* Медиа-запросы для адаптации размеров кнопок */
@media (max-width: 768px) {
  .img-upload__start .img-upload__label {
    max-width: 250px; /* Фиксированная ширина для меньших экранов */
  }
}

@media (max-width: 480px) {
  .img-upload__start .img-upload__label {
    max-width: 200px; /* Фиксированная ширина для еще меньших экранов */
  }
}

.button-text:hover {
  background-color: #0056b3;
}

/* стили для кнопок */
.button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 43px;
  gap: 10px;
  width: auto;
  height: 60px;
  border: 2px dashed #3A3A3A;
  border-radius: 40px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.scale__control {
  background-color: #FFE190;
  color: #3A3A3A;
}

/* кнопка "Закрыть" */
.button-2 {
  background-color: #FF90EA;
  color: white;
}

.button-2:hover {
  background-color: #FF10EF;
  transform: scale(1.05);
}

/* кнопка "Проверить" */
.button-3 {
  background-color: #4ACFFF;
  color: white;
}

.button-3:hover {
  background-color: #5FBFDD;
  transform: scale(1.05);
}

/* стили для текста внутри кнопок */
.button-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
}

/* Стили для списка источников */
.sources-list {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 20px; /* Добавляем отступы со всех сторон */
  margin: 0; /* Убираем отступы */
}

.sources-item {
  margin-bottom: 20px; /* Расстояние между элементами списка */
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative; /* Добавляем position: relative для правильного отображения линии */
  padding: 10px; /* Добавляем отступы внутри элемента списка */
}

.sources-link {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  text-decoration: none; /* Убираем подчеркивание ссылок */
  margin-right: 10px; /* Расстояние между ссылкой и описанием */
  white-space: nowrap; /* Предотвращаем перенос текста на новую строку */
}

.sources-link:hover {
  text-decoration: underline; /* Подчеркивание при наведении */
  color: #0056b3; /* Цвет ссылки при наведении */
}

.sources-description {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #3A3A3A;
  white-space: nowrap; /* Предотвращаем перенос текста на новую строку */
}

.sources-item::after {
  content: '';
  display: block;
  width: calc(100% - 20px); /* Уменьшаем ширину линии, чтобы она не выходила за пределы отступов */
  height: 1px;
  background-color: #ccc; /* Линия под каждым элементом списка */
  position: absolute; /* Позиционируем линию абсолютно */
  bottom: -10px; /* Перемещаем линию под элемент списка */
  left: 10px; /* Сдвигаем линию вправо, чтобы она не выходила за пределы отступов */
}

.sources-item:last-child::after {
  display: none; /* Убираем линию под последним элементом списка */
}